body {
  background-color: seashell;

}

.hero-banner {
  background-color: darkcyan;
  box-shadow: 0px 5px 20px 1px #888888;
  font-family: 'Josefin slab', serif;
  background-size: cover;
  background-position: center;
  min-height:200px;
  height: 400px;
}

.transparent {
  background: none;
}

.navbar {
  font-family: 'Josefin slab', serif;
  color: black;
  text-shadow: 2px 2px 2px slategray;
  
}
