
.transparent {
  background: none;
}

.navbar {
  font-family: 'Josefin slab', serif;
  color: black;
  /* text-shadow: 2px 2px 2px slategray; */
}

.navbar-brand {
  font-size: 1.4em;
}

.nav-item {
  font-size: 1.4em;
  font-weight: bold;

}
